* {
  font-family: Lato, Arial, sans-serif, -apple-system;;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 18px;
}

ol, ul {
  list-style: none;
}

li {
  margin-top: 8px;
}

a {
  font-weight: 700;
  font-size: 18px;
  color: #0d4cd3;
}

